* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
}

.content {
    padding: 48px 128px;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    padding: 16px 128px;
}

.hero.content, .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#1f2937;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary-text, a {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

.header-picture {
    width: 500px;
    height: 250px;
}

.hero-button, .action-button {
    background: #3882F6;
    color: #f9faf8;
    border-color: transparent;
    padding: 8px 32px;
    border-radius: 8px;
}

.information-header {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 48px;
}

.information img {
    width: 200px;
    height: 200px;
}

.information-pictures {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.testimonials.content {
    display: flex;
    flex-direction: column;
    background: #e5e7eb;
    justify-content: center;
    padding: 84px 256px
}

.testimonial-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.testimonial-sign {
   align-self:flex-end;
   font-weight: bold;
   font-size: 24px;
}

.action.content {
    display: flex;
    justify-content: space-between;
    background: #3882F6;
    border-radius: 8px;
    margin: 84px 128px;
}

.action-texts h3 {
    color: #f9faf8;
}

.action-texts p {
    color: #e5e7eb
}

.action-button {
    border: 2px solid #f9faf8;
}

.footer {
    text-align: center;
    background: #1f2937;
    color: #e5e7eb;
    padding: 32px 0px;
}